<!--
Student Name: Andre Henrique Moyses de Assis
Student number: 301282773
File: bottom_nav.ejs
Date: 2023-06-17
-->  
  
  <!-- Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h6 class="display-10 navbar-text">&copy; Copyright 2023, All Rights Reserved.</h6>
      </div>
    </nav>
  </footer>