<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

<!-- Main Content -->
<main class="container">
    <div class="jumbotron">
        <h1><strong>My Projects</strong></h1>
    </div>
    <div class="projectsrow">
        <div class="projectscolumn1"><img src="/Assests/Images/unoparVirtual.jpg" width="90%" height="200px"  margin-top="35px" alt="">
            <strong>Unoparvirtual Project</strong><br>Installation and configuration of an antenna for sending and receiving signals via satellite at UNOPAR University, where I participated in the configuration stage of the equipment for sending and receiving the video signal.</div>
        <div class="projectscolumn2"><img src="/Assests/Images/unoparBoulevard.jpg" width="90%" height="200px"  margin-top="35px" alt="">
            <strong>Unopar Campus Boulevard Project</strong><br>Creation of the Unopar Shopping Boulevard campus where I participated in the coordination, planning and installation of the computer network and servers of the new campus.</div>
        <div class="projectscolumn3"><img src="/Assests/Images/unoparCatuai.jpg" width="90%" height="200px"  margin-top="35px" alt="">
            <strong>Unopar Catuai Campus Project</strong><br>Project to restructure the computer network and update the servers at Unopar Catuai where I participated in the coordination, planning and installation of the computer network and servers of the campus.</div>
    </div>
</main>


<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>
