<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

<!-- Main Content -->
<main class="container">
    <div class="jumbotron">
      <h1><strong>A little more about me</strong></h1>
    </div>
    <div class="aboutrow">
        <div class="aboutcolumn1"><img src="/Assests/Images/andreassis.jpg" width="180px" height="250px" alt=""></div>
        <div class="aboutcolumn2">
            <p><strong>Name: </strong> Andre Henrique Moyses de Assis</p>
            <p><strong>City: </strong> Edmonton</p>
            <p><strong>Education: </strong> Graduated in 2006 in Systems Analysis and Development and with a postgraduate degree in Computer Networks in 2008.<br>
                Currently enrolled in Software Engineering Technical at Centennial College</p>
            <p><strong> Certifications:</strong> 
              <ul>
                <li> Cisco CCNA</li>
                <li> Meraki</li> 
                <li> Xirrus</li>  
                <li> MCSE</li> 
                <li> GVF510</li> 
              </ul>
            </p>
            <div class="resume">
                <a href="/Assests/Documents/Andre's Resume Completo.pdf" target="_blank"><button type="button" class="button resumebtn">My Resume</button></a>
              </div>
        </div>
      </div>
</main>
    
</div>
 
  

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>
