<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

<!-- Main Content -->
<main class="container">
    <div class="jumbotron">
        <h1><strong>My Services</strong></h1>
    </div>
    <div>
        <h3><strong>Installation and configuration of equipment and services such as:</strong></h3>
        <ul>
            <li> Computer network.</li>
            <li> Switches, Routers and Firewalls</li> 
            <li> Wifi network.</li>  
            <li> Linux and Windows servers.</li> 
            <li> Satellite data transmission equipment.</li> 
        </ul>
        <h3><strong>Product development such as:</strong></h3>
        <ul>
            <li> Websites</li>
            <li> Programs (C# and Java)</li> 
        </ul>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>
